h1{
  color: #9fa365;font-size: xx-large; font-family: Franklin Gothic Medium;
}

p{
  font-size: x-large;font-family:monospace; color: #cdc0b0;
}

body {
  background-color: #133331;
}
hr{
  border-color: grey;
  border-width: 3px;
  border-style: dashed none none;
  width: 100%
}
